html,
body,
#app {
	--at-apply: p-0 m-0 h-full w-full;
}
 
body {
	--at-apply: relative flex items-center justify-center bg-neutral-900 bg-cover bg-center-bottom c-white;
}

#app {
	--at-apply: w-350px h-600px shadow-md relative;
}

@font-face {
	font-family: 'Bender';
  src: url('/fonts/Bender.woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes animate-enter {
	from {
		opacity: var(--un-enter-opacity, 1);
		transform: translate3d(var(--un-enter-translate-x, 0), var(--un-enter-translate-y, 0), 0) scale3d(var(--un-enter-scale, 1), var(--un-enter-scale, 1), var(--un-enter-scale, 1)) rotate(var(--un-enter-rotate, 0))
	}
}

@keyframes animate-exit {
	to {
		opacity: var(--un-exit-opacity, 1);
		transform: translate3d(var(--un-exit-translate-x, 0), var(--un-exit-translate-y, 0), 0) scale3d(var(--un-exit-scale, 1), var(--un-exit-scale, 1), var(--un-exit-scale, 1)) rotate(var(--un-exit-rotate, 0))
	}

}

@keyframes animate-shaking {
	from {
		transform: translateX(var(--un-from-translate-x, -2px))
	}
	to {
		transform: translateX(var(--un-to-translate-x, 2px))
	}
}

:root {
	--cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGBAMAAAAS4vJ7AAAAElBMVEX///////////////////////+65XQCAAAABXRSTlPUzXppDN7WmLAAAAAZSURBVAjXY3ASVGEwDQ1mYA0NAGEQGyQGAC9SA/00lbgwAAAAAElFTkSuQmCC");
	--foreground: 0 0% 100%;
	--background: 220 4% 14%;
	--border: 0 0% 54%;
	cursor: var(--cursor) 3 3, default;
}


a,input,button,textarea,[data-cursor-interacting] {
	cursor: var(--cursor) 3 3, pointer !important;
}
