html,
body,
#app {
	--at-apply: p-0 m-0 h-full w-full;
}
 
body {
	--at-apply: relative flex items-center justify-center bg-neutral-900 bg-cover bg-center-bottom c-white;
}

#app {
	--at-apply: w-350px h-600px shadow-md relative;
}

@font-face {
	font-family: 'Bender';
  src: url('~/assets/fonts/Bender.woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes loading {
  from {
      width: 38px;
      height: 38px;
      opacity: 1
  }
  to {
      width: 90px;
      height: 90px;
      opacity: 0
  }
}

:root {
	--cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGBAMAAAAS4vJ7AAAAElBMVEX///////////////////////+65XQCAAAABXRSTlPUzXppDN7WmLAAAAAZSURBVAjXY3ASVGEwDQ1mYA0NAGEQGyQGAC9SA/00lbgwAAAAAElFTkSuQmCC");
	--foreground: 0 0% 100%;
	--background: 220 4% 14%;
	--secondary-background: 223 6% 22%;
	--border: 0 0% 54%;
	--list-item: 220 3% 18%;
	cursor: var(--cursor) 3 3, default;
}


a,input,button,textarea,[data-cursor-interacting] {
	cursor: var(--cursor) 3 3, pointer !important;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
